<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> index </title>
    <h1> Enter Short Details</h1>
</head>
<body>
<form method="POST" action="">
    Name <input type = "text" name="name" required />
    <br>
    Email <input type="email" name="email" required/>
    <br>
    <input type="submit" align="left"><br>

</form>

<form method="POST" action="/users" >

    <h2>Want to fetch all details</h2>

     <button a> Fetch </button></h1>

</form>
</body>
</html>